<%- include('./includes/head') %> 
<%- include('./includes/navbar.ejs') %> 

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>


      <%- include('./includes/messages') %> 
      <% if(contacts.length > 0 ){ %> 
      <div class="responsive-table">
        <table class="table my-3">
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Número</th>
          <th>Email</th>
          <th class="center">Editar/Excluir</th>
          <% contacts.forEach(contact => { %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.lastName %></td>
              <td><%= contact.phone %></td>
              <td><%= contact.email %></td>
              <td><%= contact._id %> </td>
              <td>
                <a href="/contato/<%= contact._id %>">Editar</a>
                <a class="text-danger" href="/contato/delete/<%= contact._id %>">Excluir</a>
              </td>
            </tr>
          <% })  %> 
        </table>
      </div>
      <% } else { %>
        <p class="text-center lead">Não Existe Contato na sua Agenda. Adicione novos Contatos em <strong>"Cadastrar Contato"</strong></p>
      <% } %> 
    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('./includes/footer') %>